:root {
  --color-primary     : #4090bf;
  --color-secondary   : #68cccd;
  --color-bg          : #fff;

  --color-black       : #000;
  --color-black-light : #222;
  --color-gray        : #dae3e8;
  --color-gray-light  : #ccc;
  --color-gray-dark   : #8c8c8c;
}
