:root {
  --font-family      : -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
  --font-size        : 62.5%;
  --font-line-height : 1.6;
}
