# Created by http://www.gitignore.io

### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

# dist
bundle.css
bundle.js

node_modules
.DS_Store
.sass-cache
.idea
