.c-archives > .c-archives__year:first-child { margin-top: 0; }
.c-archives__item {
  display: flex;
  align-items: center;
}
.c-archives__time {
  min-width: 89px;
  padding-right: 20px;
  color: var(--color-gray-dark);
  font-size: 1.2rem;
}
.c-archives__title { font-size: 1.8rem; }

@media (--mobile) {
  .c-archives__item { display: block; }
  .c-archives__time {
    margin-bottom: 0;
    padding-right: 0;
  }
  .c-archives__title { margin-top: 0; }
}
