.c-graph {
  background-color: var(--color-bg);
  background-repeat: repeat;
  background-image: -webkit-linear-gradient(transparent 95%, #ccc 50%,  var(--color-gray-light)),
                    -webkit-linear-gradient(0deg, transparent 95%, #ccc 50%, var(--color-gray-light));
  background-size: 10px 10px;
}
