.c-logo {
  position: relative;
  display: inline-block;
  font-size: 0;
  text-align: center;
}
.c-logo__item {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
.c-logo::before,
.c-logo__item::before, 
.c-logo__item::after {
  position: absolute;
  display: inline-block;
  content: "";
}

.c-logo__item--n1 {
  width: 50px;
  height: 50px;
  border-right: 1px solid var(--color-black);
}
.c-logo__item--n1::before {
  width: 50px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--n1::after {
  width: 1px;
  height: 60px;
  top: -11px;
  left: -1px;
  background-color: var(--color-black);
}
.c-logo__item--a {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-black);
  border-left: 0;
}
.c-logo__item--a::before {
  width: 1px;
  height: 50px;
  top: -1px;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--a::after {
  width: 25px;
  height: 10px;
  top: -11px;
  right: -1px;
  border-top: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}
.c-logo__item--b {
  width: 50px;
  height: 50px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.c-logo__item--b::before {
  width: 1px;
  height: 60px;
  top: -11px;
  left: -1px;
  background-color: var(--color-black);
}
.c-logo__item--b::after {
  width: 1px;
  height: 50px;
  top: -1px;
  right: -1px;
  background-color: var(--color-black);
}
.c-logo__item--e {
  width: 50px;
  height: 40px;
  border: 1px solid var(--color-black);
  border-left: 0;
}
.c-logo__item--e::before {
  width: 1px;
  height: 50px;
  bottom: -11px;
  left: -1px;
  background-color: var(--color-black);
}
.c-logo__item--e::after {
  width: 50px;
  height: 1px;
  bottom: -11px;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--l {
  width: 1px;
  height: 50px;
}
.c-logo__item--l::before {
  width: 1px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--i {
  width: 1px;
  height: 50px;
}
.c-logo__item--i::before {
  width: 1px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--i::after {
  width: 1px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--w {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-black);
  border-top: 0;
}
.c-logo__item--w::before {
  width: 1px;
  height: 25px;
  bottom: 0;
  left: 50%;
  background-color: var(--color-black);
}
.c-logo__item--o {
  width: 50px;
  height: 50px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.c-logo__item--o::before {
  width: 1px;
  height: 49px;
  top: 0;
  left: 0;
  background-color: var(--color-black);
}
.c-logo__item--o::after {
  width: 1px;
  height: 49px;
  top: 0;
  right: 0;
  background-color: var(--color-black);
}
.c-logo__item--n2 {
  width: 50px;
  height: 50px;
  border-top: 1px solid var(--color-black);
}
.c-logo__item--n2::before {
  width: 1px;
  height: 60px;
  top: -11px;
  left: -1px;
  background-color: var(--color-black);
}
.c-logo__item--n2::after {
  width: 1px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: var(--color-black);
}
.c-logo__item--t {
  width: 21px;
  height: 1px;
}
.c-logo__item--t::before {
  width: 1px;
  height: 60px;
  top: -10px;
  right: 10px;
  background-color: var(--color-black);
}
.c-logo__item--t::after {
  width: 21px;
  height: 1px;
  top: 0;
  right: 0;
  background-color: var(--color-black);
}

@media (--mobile) {
  .c-logo {
    width: 262px;
    text-align: left;
  }
  .c-logo__item { margin: 10px 5px; }

  .c-logo:active .c-logo__item--n1 { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--n1::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--n1::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--a { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--a::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--a::after { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--b { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--b::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--b::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--e { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--e::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--e::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--l::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--i::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--i::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--w { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--w::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--o { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--o::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--o::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--n2 { border-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--n2::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--n2::after { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--t::before { background-color: var(--color-secondary); }
  .c-logo:active .c-logo__item--t::after { background-color: var(--color-secondary); }
}

@media (--pc) {
  .c-logo { padding: 0 30px; }

  .c-logo::before,
  .c-logo__item::before, 
  .c-logo__item::after { transition: all .3s; }

  .c-logo::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    background-color: var(--color-black);
  }

  .c-logo:hover::before { width: 100%; }
  .c-logo:hover .c-logo__item--n1::before { left: -30px; }
  .c-logo:hover .c-logo__item--n1::after { top: -40px; }
  .c-logo:hover .c-logo__item--a::before { top: 30px; }
  .c-logo:hover .c-logo__item--b::before { top: -41px; }
  .c-logo:hover .c-logo__item--b::after { top: 29px; }
  .c-logo:hover .c-logo__item--e::before { bottom: 21px; }
  .c-logo:hover .c-logo__item--e::after { left: 31px; }
  .c-logo:hover .c-logo__item--l::before { top: -30px; }
  .c-logo:hover .c-logo__item--i::before { top: 49px; }
  .c-logo:hover .c-logo__item--i::after { bottom: 40px; }
  .c-logo:hover .c-logo__item--w::before { bottom: -20px; }
  .c-logo:hover .c-logo__item--o::before { top: -30px; }
  .c-logo:hover .c-logo__item--o::after { top: 30px; }
  .c-logo:hover .c-logo__item--n2::before { top: 40px; }
  .c-logo:hover .c-logo__item--n2::after { top: -30px; }
  .c-logo:hover .c-logo__item--t::before { top: -30px; }

  .c-logo__blank { display: none; }
}
