.c-pager {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.c-pager__item {
  padding: 1rem;
}
.c-pager__item svg {
  fill: var(--color-primary);
  vertical-align: bottom;
}
.c-pager__item.c-pager__item--disabled svg {
  fill: var(--color-gray-dark);
}
.c-pager__number {
  padding: 1rem;
  font-size: 2.4rem;
}

@media (--mobile) {
  .c-pager__item:not(.c-pager__item--disabled).is-touch svg {
    fill: var(--color-secondary); 
  }
}
@media (--pc) {
  .c-pager__item:not(.c-pager__item--disabled) svg { transition: all .3s; }
  .c-pager__item:not(.c-pager__item--disabled):hover svg {
    fill: var(--color-secondary); 
  }
}
