.c-post {
  font-size: 1.8rem;
  line-height: 1.8;
}

.c-post h2,
.c-post h3,
.c-post h4,
.c-post h5,
.c-post h6 { line-height: 2; }

.c-post h2 {
  position: relative;
  display: inline-block;
  margin: 80px auto 30px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 2.5rem;
}
.c-post h2::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  max-width: var(--size-container-width);
  height: 1px;
  background-color: var(--color-black-light);
  content: "";
}

.c-post h3,
.c-post h4,
.c-post h5,
.c-post h6 { margin: 2em auto .6em; }

.c-post h3 { font-size: 2.2rem; }
.c-post h4 { font-size: 2.0rem; }
.c-post h5,
.c-post h6 { font-size: 1.8rem; }

.c-post p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-post img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
}

.c-post ul,
.c-post ol {
  margin: 30px auto;
  padding: 0 0 0 30px;
}
.c-post ul ul,
.c-post ol ul,
.c-post ul ol,
.c-post ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.c-post a { color: var(--color-primary); }

.c-post blockquote {
  margin: 1.5rem auto;
  padding: 1.5em;
  border-left: 4px solid var(--color-gray);
  color: var(--color-gray-dark);
}
.c-post *:first-child { margin-top: 0; }
.c-post *:last-child { margin-bottom: 0; }

.c-post hr {
  display: block;
  width: 20%;
  height: 0;
  margin: 5rem auto;
  border: none;
  border-top: 1px dashed var(--color-gray-dark);
}

.c-post table {
  width: 100%;
  border-collapse: collapse;
}
.c-post th,
.c-post td {
  padding: 6px 13px;
  border: 1px solid #d9d9d9;
}
.c-post > tbody > tr { border-top: 1px solid #d9d9d9; }
.c-post > tbody > tr:nth-child(even) { background-color: rgba(0, 0, 0, .03); }

.c-post code {
  padding: .08em .3em;
  background-color: #f0f0f0;
}

.c-post .youtube {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 56.25%;
}
.c-post .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (--pc) {
  .c-post a { transition: color .2s; }
  .c-post a:hover { color: var(--color-secondary); }
}

@media (--mobile) {
  .c-post { font-size: 1.6rem; }

  .c-post h2 {
    display: block;
    margin-top: 40px;
    padding-bottom: 5px;
    font-size: 2.2rem;
    text-align: center;
  }
  .c-post h2::before { width: 100%; }

  .c-post h3 { font-size: 2.0rem; }
  .c-post h4 { font-size: 1.8rem; }
  .c-post h5,
  .c-post h6 { font-size: 1.6rem; }

  .c-post ul,
  .c-post ol { padding: 0 0 0 20px; }

  .c-post a.is-touch { color: var(--color-secondary); }

  .c-post hr { width: 40%; }

  .c-post table {
    font-size: 1.0rem;
    table-layout: fixed;
  }
}
