.c-textlink--default { color: var(--color-black-light); }
.c-textlink--primary { color: var(--color-primary); }

@media (--pc) {
  .c-textlink { transition: color .2s; }
  .c-textlink:hover { color: var(--color-secondary); }
}

@media (--mobile) {
  .c-textlink.is-touch { color: var(--color-secondary); }
}
