@import "../variables.css";

.head {
  text-align: center;
}
.date {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}
.title {
  margin-bottom: 4.5rem;
  padding-bottom: 3.5rem;
  border-bottom: var(--color-black) dashed 2px;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.77;
  letter-spacing: 0.2rem;
}
.keyVisual {
  display: block;
  margin-top: 5rem;
}
.content {
  max-width: 660px;
  margin: 6rem auto 0;
}

