.wrapper {
  padding: 0 var(--gutter-s);

  @media (max-width: 566px) {
    padding: 0 var(--gutter-xs);
  }
}
.description {
  margin-bottom: 10rem;
  font-size: var(--font-size-m);
  line-height: 1.6;
  text-align: center;

  @media (max-width: 566px) {
    margin-bottom: var(--gutter-xxl);
    text-align: left;
  }
}
.article {
  margin: var(--gutter-xxl) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.date {
  margin-bottom: var(--gutter-xxs);
  font-size: var(--font-size-m);

  @media (max-width: 566px) {
    font-size: var(--font-size-s);
  }
}
.title {
  font-weight: bold;
  font-size: var(--font-size-l);
  line-height: 1.77;
  letter-spacing: 0.2rem;
  text-decoration: underline;

  @media (max-width: 566px) {
    line-height: 1.5;
  }
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.moveLink {
  font-size: var(--font-size-xs);
  text-decoration: underline;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: var(--gutter-xs);
  }
}
