body {
  min-height: 100vh;
  word-wrap: break-word;
  font-family: system-ui, sans-serif;
  transition: background-color .3s, color .3s;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
body.lightMode {
  background-color: var(--color-white);
  color: var(--color-black);
}
body.darkMode {
  background-color: var(--color-black);
  color: var(--color-white);
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
input, button, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}
