@custom-media --viewport-sp (max-width: 566px);


:root {
  --container-width-m: 660px;
  --container-width-l: 820px;

  --gutter-xxs: 0.8rem;
  --gutter-xs: 1.6rem;
  --gutter-s: 2.4rem;
  --gutter-m: 3.2rem;
  --gutter-l: 4rem;
  --gutter-xl: 4.8rem;
  --gutter-xxl: 5.6rem;

  --font-size-xs: 1.2rem;
  --font-size-s: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-l: 2.4rem;

  --color-primary: #4090bf;
  --color-black: #333;
  --color-light-gray: #eee;
  --color-gray: #848484;
  --color-dark-gray: #666;
  --color-white: #fff;
}
