.logo {
  position: relative;
  font-size: 0;
  text-align: center;
}
.logo__item {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
.logo__item::before,
.logo__item::after {
  position: absolute;
  display: inline-block;
  content: "";
}
.logo__item--n {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-bottom: 0;
}
.logo__item--n::before {
  width: 1px;
  height: 10px;
  top: -11px;
  left: -1px;
  background-color: #000;
}
.logo__item--a {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}
.logo__item--a::before {
  width: 1px;
  height: 10px;
  top: -11px;
  right: -1px;
  background-color: #000;
}
.logo__item--a::after {
  width: 25px;
  height: 1px;
  top: -11px;
  right: -1px;
  background-color: #000;
}
.logo__item--b {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}
.logo__item--b::before {
  width: 1px;
  height: 10px;
  top: -11px;
  left: -1px;
  background-color: #000;
}
.logo__item--e {
  width: 50px;
  height: 40px;
  border: 1px solid #000;
}
.logo__item--e::before {
  width: 1px;
  height: 10px;
  bottom: -11px;
  left: -1px;
  background-color: #000;
}
.logo__item--e::after {
  width: 50px;
  height: 1px;
  bottom: -11px;
  left: 0;
  background-color: #000;
}
.logo__item--l {
  width: 1px;
  height: 50px;
  background-color: #000;
}
.logo__item--i {
  width: 1px;
  height: 50px;
}
.logo__item--i::before {
  width: 1px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #000;
}
.logo__item--i::after {
  width: 1px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.logo__item--w {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-top: 0;
}
.logo__item--w::before {
  width: 1px;
  height: 25px;
  bottom: 0;
  left: 50%;
  background-color: #000;
}
.logo__item--o {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}
.logo__item--dot {
  width: 1px;
  height: 50px;
}
.logo__item--dot::before {
  width: 1px;
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.logo__item--m {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-bottom: 0;
}
.logo__item--m::before {
  width: 1px;
  height: 10px;
  top: -11px;
  left: -1px;
  background-color: #000;
}
.logo__item--m::after {
  width: 1px;
  height: 50px;
  top: -1px;
  left: 50%;
  background-color: #000;
}
