.footer { text-align: center; }
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 370px;
}
.footer__box { display: inline-block; }
.footer__icon { margin-bottom: 30px; }
.footer__list {
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    margin: 0 5px; 
  }
}
.footer__copy {
  margin: 0;
  padding: 10px 0;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

@media (--mobile) {
  .footer__inner { height: 300px; }
  .footer__icon { margin-bottom: 20px; }
}
