<footer class="footer c-graph">
  <div class="footer__inner">
    <div class="footer__box">
      <div class="c-octagon footer__icon">
        <div class="c-octagon__inner">
          {{ partial "svg/icon.html" . }}
        </div>
      </div>

      <ul class="footer__list">
        <li><a class="c-social js-touch" href="https://twitter.com/{{ .Site.Params.socialbase }}">{{ partial "svg/twitter.html" }}</a></li>
        <li><a class="c-social js-touch" href="https://github.com/{{ .Site.Params.socialbase }}">{{ partial "svg/github.html" }}</a></li>
        <li><a class="c-social js-touch" href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{ .Site.RSSLink }}">{{ partial "svg/feedly.html" }}</a></li>
        <li><a class="c-social js-touch" href="{{ .Site.RSSLink }}">{{ partial "svg/rss.html" }}</a></li>
      </ul>
    </div>
  </div>

  <p class="footer__copy">© {{ .Site.LastChange.Format "2006" }} {{ .Site.Title }}</p>
</footer>
