<header class="header c-graph">
  {{ if .IsHome }}
    <h1 class="header__title">{{ .Site.Title }}</h1>
  {{ else }}
    <p class="header__title">{{ .Site.Title }}</p>
  {{ end }}

  <a class="c-logo" href="/">
    <div class="c-logo__item c-logo__item--n1"></div>
    <div class="c-logo__item c-logo__item--a"></div>
    <div class="c-logo__item c-logo__item--b"></div>
    <div class="c-logo__item c-logo__item--e"></div><br class="c-logo__blank">
    <div class="c-logo__item c-logo__item--l"></div>
    <div class="c-logo__item c-logo__item--i"></div>
    <div class="c-logo__item c-logo__item--w"></div>
    <div class="c-logo__item c-logo__item--o"></div><br class="c-logo__blank">
    <div class="c-logo__item c-logo__item--n2"></div>
    <div class="c-logo__item c-logo__item--o"></div>
    <div class="c-logo__item c-logo__item--t"></div>
    <div class="c-logo__item c-logo__item--e"></div>
  </a>
</header>
