<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/bundle.css">
  <title>{{ .Site.Title }}</title>
</head>
<body>
