<div class="c-navi js-navi">
  <button class="c-navi__button js-navi-button js-touch">
    <span class="c-navi__button__bar"></span>
    <span class="c-navi__button__bar"></span>
    <span class="c-navi__button__bar"></span>
  </button>

  <div class="c-navi__box js-navi-bg">
    <div class="c-navi__bg"></div>
    <ul class="c-navi__list js-navi-box">
      <li class="c-navi__item"><a class="c-navi__link" href="/">Top</a></li>
      <li class="c-navi__item"><a class="c-navi__link" href="/archives">Archives</a></li>
    </ul>
  </div>
</div>
