/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

.c-post .hljs {
  display: block;
  overflow-x: auto;
  background: #2a3c4a;
  color: #cccccc;
  padding: 1.2em;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* Tomorrow Comment */
.c-post .hljs-comment,
.c-post .hljs-quote { color: #999999; }

/* Tomorrow Red */
.c-post .hljs-variable,
.c-post .hljs-template-variable,
.c-post .hljs-tag,
.c-post .hljs-name,
.c-post .hljs-selector-id,
.c-post .hljs-selector-class,
.c-post .hljs-regexp,
.c-post .hljs-deletion { color: #f2777a; }

/* Tomorrow Orange */
.c-post .hljs-number,
.c-post .hljs-built_in,
.c-post .hljs-builtin-name,
.c-post .hljs-literal,
.c-post .hljs-type,
.c-post .hljs-params,
.c-post .hljs-meta,
.c-post .hljs-link { color: #f99157; }

/* Tomorrow Yellow */
.c-post .hljs-attribute { color: #ffcc66; }

/* Tomorrow Green */
.c-post .hljs-string,
.c-post .hljs-symbol,
.c-post .hljs-bullet,
.c-post .hljs-addition { color: #99cc99; }

/* Tomorrow Blue */
.c-post .hljs-title,
.c-post .hljs-section { color: #6699cc; }

/* Tomorrow Purple */
.c-post .hljs-keyword,
.c-post .hljs-selector-tag { color: #cc99cc; }

.c-post .hljs-emphasis { font-style: italic; }

.c-post .hljs-strong { font-weight: bold; }
